<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <h2>Здравствуй, {{ appointment.client_name }}!</h2>
    <p> Новая статья в твоём любимом разделе!


     {{ appointment.date|date:"d-M-Y" }} по вопросу: {{ appointment.message|truncatechars:50 }} </p>


</body>
</html>



{% comment %}
И при добавлении новости из этой категории пользователю на email,
указанный при регистрации, будет приходить письмо с


Текст состоит из вышеуказанного HTML и текста:
.{% endcomment %}


теМА - сам заголовок статьи.
ТЕКСТ - «Здравствуй, username. Новая статья в твоём любимом разделе!»
        ЗАГОЛОВОК И  первых 50 символов текста статьи.