{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>Текущие задачи по обучению</h2>
    <hr>


    <p> кнопка стать автором - НЕ УБИРАЕТСЯ ПРИ ДОБАВЛЕНИИ  в АВТОРЫ? еСЛИ АВТОР - ЧТОБ НЕ ПОКАЗЫАЛАСЬ!!!


  <p>В классах-представлениях добавления и редактирования новостей и статей добавить проверку прав доступа
    ЧЕРЕЗ МИКСИНЫ НЕ РАБОТАЕТ!!!! AttributeError  - 'PostCreateView' object has no attribute 'object' - В СЛАКЕ ВСЕ ПИСАЛ. СОВЕТЫ НЕ ПОМОГЛИ.

{% endblock content %}