{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <title>Flatpage</title>#}
{#</head>#}
{#    <body>#}
{#        <h1>{{ flatpage.title }}</h1>#}
{#        <hr>#}
{#        <h2>{{ flatpage.content }}</h2>#}
{#        <h2>{{ flatpage.content }}</h2>#}
{##}
{#    </body>#}
{#</html>#}

{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3> Учиться никогда не поздно /Ленин/</h3>
{{ flatpage.content }}
{% endblock content %}