{% extends 'flatpages/default.html' %}

{% load censor %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
    Posts
{% endblock title %}

{% block content %}
<h2>Выбранная новость</h2>
<hr>
<table>

        <tr>
            <td>{{ post.title|censor:'<цензура>'}}</td>
            <td>{{ post.time_in_new_post|date:'d M Y H:m' }}</td>
            <td>{{ post.content_new_post|censor:'<цензура>' }}</td>
            <td>{{post.author.author}}</td>
        </tr>


</table>

<br><br> <h3> НУ ИЛИ ТАК </h3> </h3><br><br>

<h6> {{ post.time_in_new_post|date:'d M Y' }}, <b>{{ post.title|censor:'<цензура>' }} </b> </h6>
<p>{{post.author.author}}
<p>{{ post.content_new_post|censor:'<цензура>'}}

{% endblock content %}