{% extends 'default.html' %}

{% block content %}

<h2>{{ category.category_name }}</h2>

<div>
{% if user.is_authenticated %}
    {% if not is_subscriber %}
    <form action="{% url 'subscribe' category.pk %}" method="POST">
        {% csrf_token %}
        <p><input class="button_info" type="submit" value="Подписаться"></p>
    </form>
    {% endif %}
    {% if is_subscriber %}
    <form action="{% url 'subscribe' category.pk %}" method="POST">
        {% csrf_token %}
        <p><input class="button_info" type="submit" value="Отписаться"></p>
    </form>
    {% endif %}
{% endif %}
</div>

{% for post in posts_in_category %}
    <div class="blok_center">
        <p>{{ post.new_post }}</p>
        <h3><a href="#">{{ post.title }}</a></h3>
        <p>{{ post.author}} {{post.time_in_new_post|date:'d.m.Y H:i' }}</p>
        <p>{{ post.content_new_post}}</p>
        <p>Рейтинг: {{ post.rating_new_post }}</p>
    </div>
{% endfor %}

{% endblock %}