{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}Search{% endblock title %}

{% block content %}

<h2>Поиск публикаций</h2><hr>

<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>

<table>
    <th>Дата публикации</th><th>Автор</th><th>Заголовок</th><th>Текст</th>
    <br>
    {% for post in filter.qs %}
    <tr>
        <td>{{ post.time_in_new_post|date:'d F Y H:i' }}</td>
        <td>{{ post.author.author }}</td>
        <td><a href="{% url 'post_detail' post.id %}">{{ post.title|truncatewords:10|censor:'@#%&$' }} </a> </td>
        <td>{{ post.content_new_post|truncatewords:10|censor:'@#%&$' }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}