{% extends 'flatpages/default.html' %}
{% load censor %} <!-- не забываем заранее загружать наши фильтры! -->
{% block title %} Post detail {% endblock title %}

{% block content %}
<br>
<h3> {{ post.title|censor:'@#%&$' }} </h3>
<hr>

<h5> {{ post.author.author }}, {{ post.time_in_new_post|date:'d M Y H:i' }}</h5>

<div>
    {% if PCC %}
    <a> {{ post.get_new_post_display }} из категории <strong> {{ PCC }}  </strong></a>
    <br><br>
    <p>{{ post.content_new_post|censor:'@#%&$' }}</p>
    <br>
    <div >



            <button> <a href="unsubscribe {{category.id}}"> Отписаться</a> </button>
     
            <button> <a href="subscribe {{category.id}}"> Подписаться</a> </button>




    </div>
    {% else %}
        <h2>Категория не присвоена!</h2>
    {% endif %}


{% endblock content %}

