{% extends 'flatpages/default.html' %}
{% load censor %} <!-- не забываем заранее загружать наши фильтры! -->
{% block title %} Post_add {% endblock title %}

{% block content %}

<br> <h2> Добавление публикации </h2><hr><br>


{% if publications_for_today_limit %}
<p><a>Сегодня можно добавить еще публикаций: </a> {{publications_for_today_limit}} </p>

    <form method="POST" class='form-control'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Опубликовать" class='btn btn-outline-dark'>
    </form>

{% else %}
    <p>Извините, но лимит публикаций на сегодня исчерпан. Попробуйте завтра.</p>
{% endif %}



{% comment %}
<br>
<h2> Добавление публикации </h2>
<hr><br>

<form method="post">
    {% csrf_token %}
    {{ form}}
    <input type="submit" value="Сохранить">
</form>
{% endcomment %}


{% endblock content %}