<!DOCTYPE html>

{% load static %}
{% load i18n %}
{% load tz %} <!-- тег для работы с часовыми поясами -->
{% load bootstrap4 %}


<script src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}


<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.css" >
  <title>Dj_flatpages - {% block title %}{% endblock title %}</title>

<style>
    body {background-color:{% if current_time.hour >= 18 or current_time.hour <= 7 %} powderblue {% endif %};}
</style>
</head>
<body>
  <!-- ########################    Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">News Portal</a><a class="navbar-brand" href="#">({% trans 'учебный'%})</a>

<!-- ########################    ВЫБОР ЯЗЫКА    ############################-->
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

    <!-- ВЕРХНЯЯ ПАНЕЛЬКА-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="/news"> {% trans "Новости" %} </a> </li>
            <li class="nav-item"> <a class="nav-link" href='/about/'> {% trans "О нас" %} <span class="sr-only">(current)</span> </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/contact/"> {% trans "Контакты" %} <span class="sr-only">(current)</span> </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/admin/"> {% trans "Админка" %} <span class="sr-only">(current)</span> </a> </li>
            <li class="nav-item"> {% if user.is_authenticated %} <a class="nav-link" href="/sign/logout/"> {% trans "Выход" %}</a> {% endif %} </li>
        </ul>
      </div>
    </div>
  </nav>



<!--  TIME_ZONE С КНОПКОЙ ВЫБОРА ВВЕРХУ -->
{% get_current_timezone as TIME_ZONE %}
<form action="{% url 'set_timezone' %}" method="POST">
    {% csrf_token %}
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}" {% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set">
</form>

{{ TIME_ZONE }}  {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

<!-- Если сейчас больше чем 19 или же меньше 7, то выводим тёмную тему, иначе выводим светлую -->
 {% comment %} current_time|date:'H' >= 17 or current_time|date:'H' <= 7 %} {% endcomment %}


  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
        {% block content %}
            <h2>{{ flatpage.title }}</h2><hr>
        {% endblock content %}
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>




</body>
</html>
