{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>Текущие задачи по обучению</h2>
    <hr>


    <p> кнопка стать автором - КАК УБРАТЬ ПРИ ДОБАВЛЕНИИ  АВТОРЫ? еСЛИ АВТОР - ЧТОБ НЕ ПОКАЗЫАЛАСЬ!!!

  <p>Реализовать возможность регистрации через Google-аккаунт - НУ ВОБЩЕ НИКАК, хотя ID/ключ получены. НЕ ПЕРЕБРАСЫВАЕТ НА АВТОРИЗАЦИЮ GOOGLE

  <p>  Реализовать автоматическое добавление новых пользователей в группу common.

  <p>В классах-представлениях добавления и редактирования новостей и статей добавить проверку прав доступа
    ЧЕРЕЗ МИКСИНЫ НЕ РАБОТАЕТ!!!! AttributeError  - 'PostCreateView' object has no attribute 'object' - В СЛАКЕ ВСЕ ПИСАЛ. СОВЕТЫ НЕ ПОМОГЛИ.

{% endblock content %}