{% extends 'flatpages/default.html' %}
 
{% block title %} Products {% endblock title %}
 
{% block content %}
    <h3>Информация о товаре</h3>
<table>
    <thead>
        <th>            Name        </th>
        <th>            Category        </th>
        <th>            Price        </th>
        <th>            Quantity        </th>
    </thead>
    <tr>
        <td>     {{ product.name }}        </td>
        <td>            {{ product.category.name }}        </td>
        <td>            {{ product.price }}        </td>
        <td>            {{ product.quantity }}        </td>
    </tr>
</table>

    <br> Подробнее: {{ product.description}}
{% endblock content %}