{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>Текущие задачи по обучению</h2>
    <hr>


<p>Используя только пакет allauth, реализуйте в своем приложении NewsPaper возможность входа в систему,
<p>а также регистрации по почте или через Google-аккаунт.

<p>В классе-представлении редактирования профиля добавить проверку аутентификации.
<p>Выполнить необходимые настройки пакета allauth в файле конфигурации.
<p>Реализовать шаблон с формой входа в систему и выполнить настройку конфигурации URL.
<p>Реализовать возможность регистрации через Google-аккаунт.
<p>Реализовать автоматическое добавление новых пользователей в группу common.
<p>Создать возможность стать автором (быть добавленным в группу authors).
<p>Для группы authors предоставить права создания и редактирования объектов модели Post (новостей и статей).
<p>В классах-представлениях добавления и редактирования новостей и статей добавить проверку прав доступа.
<p>Исходный код залить в git-репозиторий.


    {% endblock content %}