{% extends 'flatpages/default.html' %}
{% load censor %} <!-- не забываем заранее загружать наши фильтры! -->
{% block title %}Posts{% endblock title %}

{% block content %}
<h3>{{ time_now|date:'d M Y' }}</h3>
<!--<h3> {{ value1|default_if_none:"ничего" }} </h3> -->
<!-- <h2>Всего публикаций - {{posts|length}} </h2> -->
<h2>Всего публикаций - {{all_posts}} </h2>
<hr>

 <p align="left"><a href="{% url 'post_search.html' %}"> <strong> Поиск </strong></a>
 <p align="left"> <a href="{% url 'post_create.html' %}"> <strong> Добавить публикацию </strong></a>
<p></p>

{% if posts %}
    <table>
        <th>Дата публикации</th><th>Автор</th><th>Заголовок</th><th>Текст</th>
        <br>
        {% for post in object_list %}
             <tr>
                <td>{{ post.time_in_new_post|date:'d F Y H:i:s' }}</td>
                <td>{{ post.author.author }}</td>
                <td><a href="{% url 'post_detail' post.id %}">{{ post.title|censor:'@#%&$'|truncatewords:10 }}</a></td>
                <td>{{ post.content_new_post|truncatewords:10|censor:'@#%&$' }}</td>
                <td><a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a><a>&nbsp;</a></td>
                <td><a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a></td>
             </tr>
        {% endfor %}
    </table>
<p></p>

  {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages}}">Last</a>
    {% endif %}
  {% endif %}

{% else %}
    <h3>Новостей нет</h3>

{% endif %}

{% endblock content %}